<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>Kyobo Handwriting 2019</string>
		<string>서울한강 장체B</string>
		<string>서울한강 장체BL</string>
		<string>서울한강 장체EB</string>
		<string>서울한강 장체L</string>
		<string>서울한강 장체M</string>
		<string>SeoulHangangB</string>
		<string>SeoulHangangEB</string>
		<string>SeoulHangangL</string>
		<string>SeoulHangangM</string>
	</array>
	<key>UIBackgroundModes</key>
	<array/>
</dict>
</plist>
