<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>SeoulHangangM.ttf</string>
		<string>SeoulHangangL.ttf</string>
		<string>SeoulHangangEB.ttf</string>
		<string>SeoulHangangB.ttf</string>
		<string>서울한강 장체B.ttf</string>
		<string>서울한강 장체BL.ttf</string>
		<string>서울한강 장체EB.ttf</string>
		<string>서울한강 장체L.ttf</string>
		<string>서울한강 장체M.ttf</string>
		<string>Kyobo Handwriting 2019.otf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array/>
</dict>
</plist>
